---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
                <!-- {%- assign profile_image_class = "img-fluid z-depth-1 rounded-square" -%} -->
              {% endif %}

              {% include figure.html
              path=profile_image_path
              class=profile_image_class
              alt=page.profile.image -%}
              <p class="image-caption">
              {% if page.cv_pdf %}<a href="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url}}" target="_blank" rel="noopener noreferrer" class="float-right" style="color: inherit;"><i class="fab fa-wpforms" style="align-items: center;"></i><span class="resume-text">Resume/CV</span><br></a>{% endif %}</p>
            {% endif -%}
          </div>
          {%- endif %}
          <h1 class="post-title">
           {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
          </h1>
          <p class="desc"><b>{{ page.subtitle }}</b></p>
          {%- if page.profile.address %}
            <div class="address">
              {{ page.profile.address }}
            </div>
          {%- endif %}
          {%- if page.social %}
          <div class="social">
            <div class="contact-icons">
              {% include social.html %} 
              <!-- <a href="mailto:{{ site.email | encode_email }}" title="email"><i class="fas fa-envelope"></i></a>
              <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
              <a href="https://github.com/{{ site.github_username }}" title="GitHub"><i class="fab fa-github"></i></a>
             -->
            </div>
          
            <div class="contact-note">
              <p>Best way to reach me is via email...........!</p><br><br><br>
            </div>
            {%- endif %}
          </div>
        </header>

        <article>
          <div class="clearfix">
            <p> <br> </p>
            <p> <br> </p>
            <h2>About<br> </h2>
            <!-- <p>{{ page.profile.about_me }}</p> -->
            <p>{{ content }}</p>
          </div>

          <!-- News -->
          {% if page.news and site.announcements.enabled -%}
            <h2><a href="{{ '/news/' | relative_url }}" style="color: inherit;">news</a></h2>
            {%- include news.html limit=true %}
          {%- endif %}

          <!-- Latest posts -->
          {% if page.latest_posts -%}
            <h2><a href="{{ '/blog/' | relative_url }}" style="color: inherit;">latest posts</a></h2>
            {%- include latest_posts.html %}
          {%- endif %}

          <!-- Selected papers -->
          {% if page.selected_papers -%}
            <h2><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">selected publications</a></h2>
            {%- include selected_papers.html %}
          {%- endif %}

          <!-- Social -->
          
        </article>
        

</div>
